apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment-test
spec:
  selector:
    matchLabels:
      app: nginx
  replicas: 2 
  template: 
    metadata:
      labels:
        app: nginx
        student: marceline
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 80