<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autocomplete Search</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <input type="text" id="keyword" placeholder="Start typing...">
    <div id="results"></div>

    <script>
        $('#keyword').on('input', function() {
            $.post('/search', { keyword: $(this).val() }, function(data) {
                let html = '';
                for (let item of data) {
                    html += `<div>${item._source.title}</div>`;
                }
                $('#results').html(html);
            });
        });
    </script>
</body>
</html>
