<!DOCTYPE html>
<html lang="en">
<head>
    <title>NFTs for Sale</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .carousel-inner {
            width: 50%;
            margin: auto;
        }
        .carousel-item img {
            max-width: 100%;
            max-height: 400px;
            object-fit: contain;
            margin: auto;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>HOME - NFTs for Sale  / <a href="/nft-sold">SOLD NFT'S</a></h1>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for nft in nfts %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" class="{{ 'active' if loop.first }}"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for nft in nfts %}
                <div class="carousel-item {{ 'active' if loop.first }}">
                    <img 
                        src="{{ nft.nftimage_url }}" 
                        class="d-block w-100" 
                        alt="{{ nft.nftdescription }}" 
                        data-nftid="{{ nft.nftid }}" 
                        data-nftimage_url="{{ nft.nftimage_url }}" 
                        data-nftdescription="{{ nft.nftdescription }}" 
                        data-price="{{ nft.price }}"
                        data-trx_id="{{ nft.trx_id }}">
                        
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ nft.nftdescription }}</h5>
                        <p>{{ nft.price }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="nftModal" tabindex="-1" aria-labelledby="nftModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="nftModalLabel">NFT Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="nftid"></p>
                    <img id="nftimage" src="" alt="NFT image" class="img-fluid">
                    <p id="nftdescription"></p>
                    <p id="nftprice"></p>
                    <p id="trx_id"></p>
                </div>
                <a href="/sold-nft">Link to sold-nft's</a>
                <div class="modal-footer">
                    <input type="text" id="clientname" placeholder="Your name" class="form-control">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="purchaseButton">Purchase</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
    $('.carousel-item img').on('click', function(){
        var nftid = $(this).data('nftid');
        var nftimage_url = $(this).data('nftimage_url');
        var nftdescription = $(this).data('nftdescription');
        var price = $(this).data('price');
        var trx_id = $(this).data('trx_id');

        $('#nftid').text('ID: ' + nftid);
        $('#trx_id').text('trx_id: ' + trx_id);
        $('#nftimage').attr('src', nftimage_url);
        $('#nftdescription').text(nftdescription);
        $('#nftprice').text('Price: ' + price);

        $('#nftModal').modal('show');
    });

    $('#purchaseButton').on('click', function(){
        var clientname = $('#clientname').val();
        var nftid = $('#nftid').text().substring(4);  // Remove 'ID: ' from the string
        var nftprice = $('#nftprice').text().substring(7);  // Remove 'Price: ' from the string
        var nftimage_url = $('#nftimage').attr('src');
        var trx_id = $('#trx_id').text().substring(8);  // Remove 'trx_id: ' from the string

        $.post('/buy', {trx_id: trx_id ,clientname: clientname, nftid: nftid, nftprice: nftprice, nftimage_url: nftimage_url}, function(data){
        if(data.status === 'success'){
            alert('Purchase successful!');
            $('#nftModal').modal('hide');
            window.location.href="/nft-sold"
        } else if (data.status === 'error') {
            // Use data.message as the error message
            alert('Purchase failed. Please try again. Error: ' + data.message);
        }
    });

    });
});
    </script>
</body>
</html>


